/* line 5, /Users/Yordanos/Ada/C5/projects/Summer/app/assets/stylesheets/home.scss */
.home-pg-background {
  text-align: center;
}

/* line 8, /Users/Yordanos/Ada/C5/projects/Summer/app/assets/stylesheets/home.scss */
.header-bg img {
  text-align: center;
}

/* line 12, /Users/Yordanos/Ada/C5/projects/Summer/app/assets/stylesheets/home.scss */
.header-bg {
  text-align: center;
}

/* line 16, /Users/Yordanos/Ada/C5/projects/Summer/app/assets/stylesheets/home.scss */
body {
  text-align: center;
}

/* line 20, /Users/Yordanos/Ada/C5/projects/Summer/app/assets/stylesheets/home.scss */
img {
  width: 100%;
}

/* line 24, /Users/Yordanos/Ada/C5/projects/Summer/app/assets/stylesheets/home.scss */
.home-pg {
  position: absolute;
  z-index: 0;
  text-align: center;
  width: 100%;
}

/* line 33, /Users/Yordanos/Ada/C5/projects/Summer/app/assets/stylesheets/home.scss */
.center {
  position: absolute;
  left: 37%;
  top: 31%;
  width: 24%;
  font-size: 18px;
  opacity: 0.9;
}

/* line 42, /Users/Yordanos/Ada/C5/projects/Summer/app/assets/stylesheets/home.scss */
.home-pg img {
  text-align: center;
  width: 80%;
}

/* line 47, /Users/Yordanos/Ada/C5/projects/Summer/app/assets/stylesheets/home.scss */
.register {
  text-align: left;
  width: 20%;
}

/* line 52, /Users/Yordanos/Ada/C5/projects/Summer/app/assets/stylesheets/home.scss */
.reg-center {
  position: absolute;
  left: 20%;
  top: 41%;
  width: 64%;
  font-size: 18px;
  opacity: 0.9;
  background-color: rgba(150, 46, 94, 0.25);
  color: black;
  margin-top: 15px;
  margin-bottom: 15px;
}

/* line 66, /Users/Yordanos/Ada/C5/projects/Summer/app/assets/stylesheets/home.scss */
.reg-pg {
  text-align: center;
  width: 93%;
  position: absolute;
  z-index: 0;
  text-align: center;
  width: 100%;
}

/* line 75, /Users/Yordanos/Ada/C5/projects/Summer/app/assets/stylesheets/home.scss */
.reg-pg label {
  color: white;
}

/* line 79, /Users/Yordanos/Ada/C5/projects/Summer/app/assets/stylesheets/home.scss */
.reg-complete-pg {
  text-align: center;
  width: 93%;
  position: absolute;
  z-index: 0;
  text-align: center;
  width: 100%;
  margin-top: 15px;
}

/* line 89, /Users/Yordanos/Ada/C5/projects/Summer/app/assets/stylesheets/home.scss */
.reg-complete-center {
  position: absolute;
  left: 20%;
  top: -16%;
  width: 64%;
  font-size: 18px;
  /* opacity: 0.9; */
  background-color: #85bf38;
  color: #040404;
  margin-top: 15px;
  margin-bottom: 25px;
  font-family: -webkit-pictograph;
  /* font-size: inherit; */
  font-weight: bolder;
}
/* line 4, /Users/Yordanos/Ada/C5/projects/Summer/app/assets/stylesheets/sessions.scss */
body {
  text-align: center;
}
/* line 6, /Users/Yordanos/Ada/C5/projects/Summer/app/assets/stylesheets/users.scss */
.bio {
  color: #8A8D94;
  font-size: 14px;
  position: absolute;
  font-weight: 400;
  width: 100%;
  display: -webkit-inline-box;
  position: inherit;
  height: 107px;
  margin-top: 18px;
  margin-left: 4px;
}

/* line 21, /Users/Yordanos/Ada/C5/projects/Summer/app/assets/stylesheets/users.scss */
.header {
  background-color: #055C5F;
  color: white;
  text-align: center;
}

/* line 27, /Users/Yordanos/Ada/C5/projects/Summer/app/assets/stylesheets/users.scss */
.table-body {
  text-align: center;
}

/* line 30, /Users/Yordanos/Ada/C5/projects/Summer/app/assets/stylesheets/users.scss */
.row_header {
  background-color: rgba(5, 92, 95, 0.66);
  color: white;
}

/* Table container */
/* line 42, /Users/Yordanos/Ada/C5/projects/Summer/app/assets/stylesheets/users.scss */
.table-userpic img {
  width: 20%;
  height: 2%;
  margin: 0;
}

/* line 49, /Users/Yordanos/Ada/C5/projects/Summer/app/assets/stylesheets/users.scss */
.userpic img {
  width: 100%;
  height: 100%;
  margin: 0;
}

/* line 56, /Users/Yordanos/Ada/C5/projects/Summer/app/assets/stylesheets/users.scss */
body {
  text-align: center;
}

/* Profile container */
/* line 61, /Users/Yordanos/Ada/C5/projects/Summer/app/assets/stylesheets/users.scss */
.profile {
  margin: 20px 0;
}

/* Profile sidebar */
/* line 66, /Users/Yordanos/Ada/C5/projects/Summer/app/assets/stylesheets/users.scss */
.profile-sidebar {
  padding: 20px 0 10px 0;
  background: rgba(5, 92, 95, 0.13);
}

/* line 70, /Users/Yordanos/Ada/C5/projects/Summer/app/assets/stylesheets/users.scss */
.profile-userpic img {
  float: none;
  margin: 0 auto;
  width: 50%;
  height: 50%;
  border-radius: 50% !important;
}

/* line 80, /Users/Yordanos/Ada/C5/projects/Summer/app/assets/stylesheets/users.scss */
.profile-usertitle {
  text-align: center;
  margin-top: 20px;
}

/* line 85, /Users/Yordanos/Ada/C5/projects/Summer/app/assets/stylesheets/users.scss */
.profile-usertitle-name {
  color: #5a7391;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 7px;
}

/* line 92, /Users/Yordanos/Ada/C5/projects/Summer/app/assets/stylesheets/users.scss */
.profile-usertitle-job {
  text-transform: uppercase;
  color: #5b9bd1;
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 15px;
}

/* line 100, /Users/Yordanos/Ada/C5/projects/Summer/app/assets/stylesheets/users.scss */
.profile-userbuttons {
  text-align: center;
  margin-top: 10px;
}

/* line 105, /Users/Yordanos/Ada/C5/projects/Summer/app/assets/stylesheets/users.scss */
.profile-userbuttons .btn {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 600;
  padding: 6px 15px;
  margin-right: 5px;
}

/* line 113, /Users/Yordanos/Ada/C5/projects/Summer/app/assets/stylesheets/users.scss */
.profile-userbuttons .btn:last-child {
  margin-right: 0px;
}

/* line 117, /Users/Yordanos/Ada/C5/projects/Summer/app/assets/stylesheets/users.scss */
.profile-usermenu {
  margin-top: 30px;
}

/* line 121, /Users/Yordanos/Ada/C5/projects/Summer/app/assets/stylesheets/users.scss */
.profile-usermenu ul li {
  border-bottom: 1px solid #f0f4f7;
  width: 100%;
  display: block;
}

/* line 127, /Users/Yordanos/Ada/C5/projects/Summer/app/assets/stylesheets/users.scss */
.profile-usermenu ul li:last-child {
  border-bottom: none;
}

/* line 131, /Users/Yordanos/Ada/C5/projects/Summer/app/assets/stylesheets/users.scss */
.profile-usermenu ul li a {
  color: #93a3b5;
  font-size: 14px;
  font-weight: 400;
}

/* line 137, /Users/Yordanos/Ada/C5/projects/Summer/app/assets/stylesheets/users.scss */
.profile-usermenu ul li a i {
  margin-right: 8px;
  font-size: 14px;
}

/* line 142, /Users/Yordanos/Ada/C5/projects/Summer/app/assets/stylesheets/users.scss */
.profile-usermenu ul li a:hover {
  background-color: #fafcfd;
  color: #5b9bd1;
}

/* line 147, /Users/Yordanos/Ada/C5/projects/Summer/app/assets/stylesheets/users.scss */
.profile-usermenu ul li.active {
  border-bottom: none;
}

/* line 151, /Users/Yordanos/Ada/C5/projects/Summer/app/assets/stylesheets/users.scss */
.profile-usermenu ul li.active a {
  color: #5b9bd1;
  background-color: #f6f9fb;
  border-left: 2px solid #5b9bd1;
  margin-left: -2px;
}

/* Profile Content */
/* line 159, /Users/Yordanos/Ada/C5/projects/Summer/app/assets/stylesheets/users.scss */
.profile-content {
  padding: 20px;
  background: #fff;
  min-height: 460px;
  overflow: auto;
}

/* line 166, /Users/Yordanos/Ada/C5/projects/Summer/app/assets/stylesheets/users.scss */
.profile-userpic-all img {
  float: none;
  margin: 0 auto;
  width: 26%;
  height: 30%;
  border-radius: 10% !important;
}

/* line 177, /Users/Yordanos/Ada/C5/projects/Summer/app/assets/stylesheets/users.scss */
.profile-table-pic {
  width: 20%;
  padding: 0;
}

/* line 182, /Users/Yordanos/Ada/C5/projects/Summer/app/assets/stylesheets/users.scss */
.ranking {
  text-align: left;
}

/* line 186, /Users/Yordanos/Ada/C5/projects/Summer/app/assets/stylesheets/users.scss */
.sign-up-form {
  width: 60%;
  margin-left: 20%;
  text-align: left;
}

/* line 193, /Users/Yordanos/Ada/C5/projects/Summer/app/assets/stylesheets/users.scss */
.sign-up-form label {
  color: black;
}

/* line 197, /Users/Yordanos/Ada/C5/projects/Summer/app/assets/stylesheets/users.scss */
.submit-btn {
  text-align: center;
}

/* line 200, /Users/Yordanos/Ada/C5/projects/Summer/app/assets/stylesheets/users.scss */
.title {
  text-transform: uppercase;
  color: cadetblue;
}

/* line 205, /Users/Yordanos/Ada/C5/projects/Summer/app/assets/stylesheets/users.scss */
.table-header {
  background-color: #023435;
  color: #EEF3F2;
  font-family: initial;
  height: 30px;
  margin-bottom: 1px;
  padding-top: 0px;
  border-top-width: 0px;
  vertical-align: initial;
  padding-bottom: 1px;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 */


.home-pg{
  /*width:200px;
   height:200px;*/
   position:absolute;
   z-index:0;
}
.header-bg{
  text-align: center;

}
.header-bg img{
  text-align: center;

}

.inner{
  position:absolute;
  z-index:1;
  bottom:0;
  right:0;
}
img{
  text-align: center;
}

body{
  text-align: center;

}

.container{
  text-align: center;

}


.thumbnail {
    display: block;
    padding: 4px;
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-transition: border .2s ease-in-out;
    transition: border .2s ease-in-out;
    position: relative;
    /* width: 200px; */
    height: 280px;
    overflow: hidden;
    padding-bottom: 0px;
margin-bottom: 0px;
  }

  .thumbnail>img, .thumbnail a>img {
    margin-right: auto;
    margin-left: auto;
    position: absolute;
    left: 50%;
    top: 0%;
    height: 100%;
    width: auto;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-45%);

  }

  .thumbnail {
      display: block;
      padding: 4px;
      margin-bottom: 20px;
      line-height: 1.42857143;
      background-color: #fff;
      border: 1px solid #ddd;
      border-radius: 4px;
      -webkit-transition: border .2s ease-in-out;
      transition: border .2s ease-in-out;
      position: relative;
      /* width: 200px; */
      height: 209px;
      overflow: hidden;
  }
