  <div class="register">
  </div>

  <div class="reg-complete-pg">
    <img src="/assets/boxing" style="width: 50%;">
    <div class="reg-center-bg">
      <div class="reg-complete-center">

        <p class="lead">YOUR GROUP CODE IS: <%= @code %></p>
      </div>

    </div>
  </div>
