/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.home-pg{
  /*width:200px;
   height:200px;*/
   position:absolute;
   z-index:0;
}
.header-bg{
  text-align: center;

}
.header-bg img{
  text-align: center;

}

.inner{
  position:absolute;
  z-index:1;
  bottom:0;
  right:0;
}
img{
  text-align: center;
}

body{
  text-align: center;

}

.container{
  text-align: center;

}


.thumbnail {
    display: block;
    padding: 4px;
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-transition: border .2s ease-in-out;
    -o-transition: border .2s ease-in-out;
    transition: border .2s ease-in-out;
    position: relative;
    /* width: 200px; */
    height: 280px;
    overflow: hidden;
    padding-bottom: 0px;
margin-bottom: 0px;
  }

  .thumbnail>img, .thumbnail a>img {
    margin-right: auto;
    margin-left: auto;
    position: absolute;
    left: 50%;
    top: 0%;
    height: 100%;
    width: auto;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-45%);

  }

  .thumbnail {
      display: block;
      padding: 4px;
      margin-bottom: 20px;
      line-height: 1.42857143;
      background-color: #fff;
      border: 1px solid #ddd;
      border-radius: 4px;
      -webkit-transition: border .2s ease-in-out;
      -o-transition: border .2s ease-in-out;
      transition: border .2s ease-in-out;
      position: relative;
      /* width: 200px; */
      height: 209px;
      overflow: hidden;
  }
