// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.home-pg-background img{
  text-align: center
}
.header-bg img{
  text-align: center;
}

.header-bg{
  text-align: center;

}
body{
  text-align: center;

}
