// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.bio
{
    color: #8A8D94;
    font-size: 14px;
    position: absolute;
    font-weight: 400;
    width: 100%;
    display: -webkit-inline-box;
    position: inherit;
    height: 107px;
    margin-top: 18px;
    margin-left: 4px;
}


.header {
  background-color: #055C5F;
  color: white;
  text-align: center;
}

.table-body{
  text-align: center;
}
.row_header{
  background-color: rgba(5, 92, 95, 0.66);
  color: white;
}

// body {
//   background: rgba(105, 106, 113, 0.1);
//
// }

/* Table container */

.table-userpic img {
  width: 20%;
  height: 2%;
  margin: 0;

}

.userpic img {
  width: 100%;
  height: 100%;
  margin: 0;

}

body{
  text-align: center;

}
/* Profile container */
.profile {
  margin: 20px 0;
}

/* Profile sidebar */
.profile-sidebar {
  padding: 20px 0 10px 0;
  background: rgba(5, 92, 95, 0.13);
}
.profile-userpic img {
  float: none;
  margin: 0 auto;
  width: 50%;
  height: 50%;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  border-radius: 50% !important;
}

.profile-usertitle {
  text-align: center;
  margin-top: 20px;
}

.profile-usertitle-name {
  color: #5a7391;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 7px;
}

.profile-usertitle-job {
  text-transform: uppercase;
  color: #5b9bd1;
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 15px;
}

.profile-userbuttons {
  text-align: center;
  margin-top: 10px;
}

.profile-userbuttons .btn {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 600;
  padding: 6px 15px;
  margin-right: 5px;
}

.profile-userbuttons .btn:last-child {
  margin-right: 0px;
}

.profile-usermenu {
  margin-top: 30px;
}

.profile-usermenu ul li {
  border-bottom: 1px solid #f0f4f7;
  width: 100%;
  display: block
}

.profile-usermenu ul li:last-child {
  border-bottom: none;
}

.profile-usermenu ul li a {
  color: #93a3b5;
  font-size: 14px;
  font-weight: 400;
}

.profile-usermenu ul li a i {
  margin-right: 8px;
  font-size: 14px;
}

.profile-usermenu ul li a:hover {
  background-color: #fafcfd;
  color: #5b9bd1;
}

.profile-usermenu ul li.active {
  border-bottom: none;
}

.profile-usermenu ul li.active a {
  color: #5b9bd1;
  background-color: #f6f9fb;
  border-left: 2px solid #5b9bd1;
  margin-left: -2px;
}

/* Profile Content */
.profile-content {
  padding: 20px;
  background: #fff;
  min-height: 460px;
  overflow: auto;
}

.profile-userpic-all img {
  float: none;
  margin: 0 auto;
  width: 26%;
  height: 30%;
  -webkit-border-radius: 10% !important;
  -moz-border-radius: 10% !important;
  border-radius: 10% !important;
}


.profile-table-pic{
  width: 20%;
  padding: 0;
}

.ranking{
  text-align: left;
}

.sign-up-form{
  width: 60%;
  margin-left: 20%;
  text-align: left;

}

.sign-up-form label{
  color: black;
}

.submit-btn{
  text-align: center;
}
.title {
  text-transform: uppercase;
  color: cadetblue;
}

.table-header{
  background-color: #023435;
  color: #EEF3F2;
  font-family: initial;
  height: 30px;
  margin-bottom: 1px;
  padding-top: 0px;
  border-top-width: 0px;
  vertical-align: initial;
  padding-bottom: 1px;
}
